<div class="text-left">
  <h3>アイデア詳細</h3>
  <h4>登録ユーザ情報</h4>
  <h5>ユーザ名：<%= @user.name %></h5>

  <h4>アイデア内容</h4>
  <h5>アイデア名：<%= @idea.name %></h5>
  <h5>アイデア詳細：<%= @idea.about %></h5>
  <h5>ステータス：<%= @idea.status %></h5>


</div>
