<div class="center jumbotron">
  <div class="text-center">
    <h1>アプリマ</h1>
    <h2>アイデアとエンジニアをマッチングさせるサービス</h2>
    <%= link_to '新規登録する', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
